<!DOCTYPE html>
<html>
<head>
	<title>Registration Accepted</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			color: #333333;
			text-align: center;
			padding-top: 50px;
		}
		h1 {
			font-size: 36px;
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
			margin-bottom: 40px;
		}
		button {
			background-color: #4CAF50;
			color: white;
			font-size: 16px;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		button:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>Registration Accepted!</h1>
	<p>Thank you for registering. Your registration request has been accepted.</p>
	<button onclick="location.href='/'">Go to Homepage</button>
	<button onclick="location.href='admin_in'">Go to add another user</button>
</body>
</html>