<!DOCTYPE html>
<html>
  <head>
    <title>Registration Request Sent</title>
    <style>
      body {
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .container {
        text-align: center;
        color: white;
        font-size: 36px;
      }

      .v-mark {
        font-size: 72px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="v-mark">&#10003;</div>
      <div>Registration request sent</div>
    </div>
	    <p><a href="index.html">Home</a></p>
  </body>
</html>